body {
  font-family: Arial, sans-serif;
  background-color: gray;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 20px;
  
}

h1,
h2,
h3 {
  font-size: 22px;
  color: beige;
}

.section {
  padding: 50px 10%;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px 10%;
  
  
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.text {
  max-width: 500px;
}

.content img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}


.projects-menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px 0;
}

.circle {
  background-color: #8B6B45;
  color: white;
  
  padding: 30px 50px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
}

.circle:hover {
  background-color: #A47D55;
}

.project-info {
  margin-top: 40px;
  background-color: #8B6B45;
  padding: 20px;
  border-radius: 10px;
}


.project-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px; 
  text-align: left;
  margin: 60px auto;
  max-width: 900px; 
}


.project-info img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  flex-shrink: 0; 
}


.project-info h3,
.project-info p {
  max-width: 500px;
}





#contact a {
  color: white;
  text-decoration: underline;
}


footer {
  text-align: center;
  background-color: #8B6B45;
  padding: 10px;
  font-size: 14px;
}




